html{
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
.navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}
.nav-links{  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}
.card{
  margin-top: 20px;
  box-shadow: 15px 15px 10px rgb(78,77,77);
}

.cards-items{
  
  gap: 15px;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin: auto;
}