.cards-items {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin:10px;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}
.card{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:20px;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    text-align: center;
    
}
.card:hover {
    transform: scale(1.05);
    border: 2px solid #2980b9;
    background-color: #2980b9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card img{
    padding: 20px;
    margin: 30px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 10px;
} 
