{% extends "base.html" %}
{% block title %}Signup{% endblock title %}
{% block content %}





<div class="card form-group bg-dark  text-light">
    <h2 data-aos="fade-up text-dark" >Signup</h2>
    <form action="/auth/signup/" method="post">{% csrf_token %}
   
    <div class="mb-3 pd-3">
      <label for="exampleInputEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" name="exampleInputEmail">
    
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="exampleInputPassword2" name="exampleInputPassword2">
    </div>

    {% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong>{{message}}</strong>
  <button type="button" class="btn-close" data-bg-dismiss="alert" aria-label="close"></button>
</div>
{% endfor %}
   
    <button type="submit" class="btn btn-primary">Signin</button>
    <br>
     <div class="sign bg-primary"></div>
  Already User? <a href="/auth/login/">Login</a>
  </br>
  </form>
  </div>
  {% endblock content %}