<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id="header">
        <div class="container">
            <nav>
                <img src="/static/image/1121.jpg" alt="No" class="logo">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Resume</a></li>
                </ul>
            </nav>
            <div class="header_text">
                <p>Softwre Developer</p>
                <h1>Hey I'am <span>'Pankaj Verma'</span><br>Indian Universe </h1>

            </div>
            <div class="banner">
                <img src="/static/image/1.jpg" alt="NO">
            </div>
        </div>
    </div>




    <div id="about">
        <div class="container">
            <div class="row">
                <div class="about-col-1">
                    <img src="/static/image/1.jpg" alt="Alert">
                </div>
                <div class="about-col-2">
                    <h1 class="sub-title">About me</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque inventore minus soluta,
                        voluptas, in reprehenderit eos harum unde rerum quis temporibus autem magnam commodi ullam
                        perferendis blanditiis ab. Voluptatum, error?Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Blanditiis debitis nihil voluptas dolores, assumenda, inventore hic, adipisci error
                        voluptatem quas eum. Eligendi tempore a quam repellendus culpa doloribus voluptatibus
                        rerum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nemo dignissimos rerum
                        quaerat repudiandae placeat iste ipsa vero, enim tempora odio velit, esse tempore quibusdam
                        corporis quasi! Dolore, dolor eius? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                        nobis blanditiis repellendus molestiae ex maiores rerum corporis numquam suscipit vitae tempore,
                        dolore, facere odit expedita assumenda fuga, minima in necessitatibus est. Ipsum dolor
                        consequatur iusto, nemo voluptatibus distinctio aspernatur laudantium?</p>
                        <div class="tab-title">
                           <p class="tab-link active-link">Skills</p>
                           <p class="tab-link">Exprince</p>
                           <p class="tab-link">Eduction</p>
                        </div>
                        <div class="tab-contant">
                            <ul>
                                <li><Span>Engineer</Span><br>Software Engineer</li>
                                <li><Span>Python Developer</Span><br>Web Developer</li>
                                <li><Span>JAva Developer</Span><br>Full Stack Developer</li>
                        </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>