{% extends "base.html" %}
 {% load static %}
  {% block content %}
  <div>
    <h3>WellCome</h3>
  </div>
  <hr />
  <br />
<section class="cards-items">
  <div>
    <a href="#">
      <div class="card">
        <img src="{% static 'images/notes.jpg' %}" alt="Notes" />
        <h3>Notes</h3>
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>

  <div>
    <a href="#">
      <div class="card">
        <img src="{% static 'images/notes.jpg' %}" alt="Notes" />
        <h3>Homework</h3>
        Add homework to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
  <div>
    <a href="#">
      <div class="card">
        <img src="{% static 'images/notes.jpg' %}" alt="Notes" />
        <h3>Youtube</h3>
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
  <div>
    <a href="#">
      <div class="card">
        <img src="{% static 'images/notes.jpg' %}" alt="Notes" />
        <h3>Dictionary</h3>
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
  <div>
    <a href="#">
      <div class="card">
        <img src="{% static 'images/notes.jpg' %}" alt="Notes" />
        <h3>Todo</h3>
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
  <div>
    <a href="#">
      <div class="card">
        <img src="{% static 'images/notes.jpg' %}" alt="Notes" />
        <h3>Books</h3>
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
  <div>
    <a href="#">
      <div class="card">
        <img src="{% static 'images/notes.jpg' %}" alt="Notes" />
        <h3>Wikipedia</h3>
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
  <div>
    <a href="#">
      <div class="card">
        <img src="{% static 'images/notes.jpg' %}" alt="Notes" />
        <h3>Conversion</h3>
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
</section>

{% endblock content %}
