{% extends "base.html" %}
 {% load static %}
  {% block content %}
  <link rel="stylesheet" href="{% static 'studyhome.css' %}" />
  <hr />
  <br />
<section class="cards-items">
  <div>
    <a href="{% url 'notes' %}">
      <div class="card">
        <h3>Notes</h3>
        <img src="{% static 'image/notebook-page-5058707_1280.jpg' %}" alt="Notes" />
        
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>

  <div>
    <a href="{% url 'homework' %}">
      <div class="card">
        <h3>Homework</h3>
        <img src="{% static 'image/homework-5929445_1280.jpg' %}" alt="Notes" />
       
        Add homework to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
  <div>
    <a href="{% url 'youtube' %}">
      <div class="card">
        <h3>Youtube</h3>
        <img src="{% static 'image/youtube-6621791_1280.jpg' %}" alt="Notes" />
       
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
  <div>
    <a href="{% url 'dictionary' %}">
      <div class="card">
        <h3>Dictionary</h3>
        <img src="{% static 'image/education-4382169_1280.jpg' %}" alt="Notes" />
       
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
  <div>
    <a href="{% url 'todo' %}">
      <div class="card">
        <h3>Todo</h3>
        <img src="{% static 'image/todo-lists-5238324_1280.jpg' %}" alt="Notes" />
     
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
  <div>
    <a href="{% url 'books' %}">
      <div class="card">
        <h3>Books</h3>
        <img src="{% static 'image/spring-7098130_1280.jpg' %}" alt="Notes" />
       
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
  <div>
    <a href="{% url 'wikipedia' %}">
      <div class="card">
        <h3>Wikipedia</h3>
        <img src="{% static 'image/wikipedia-1802614_1280.jpg' %}" alt="Notes" />
       
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
  <div>
    <a href=" {% url 'conversion' %}">
      <div class="card">
        <h3>Conversion</h3>
        <img src="{% static 'image/change-4056014_1280.jpg' %}" alt="Notes" />
       
        create Note to refer them later. they are stored permanently untill
        deleted.
      </div>
    </a>
  </div>
</section>

{% endblock content %}
