{% extends "home.html" %}
{% load static %}
{% block content %}

<section class="text-center">
  {% if not todos_done %}
  <h2>Due Todos</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>title</th>
        <th>status</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todos %}
     <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{todo.title}}</td>
      <td>
        <a href="{% url 'update_todo' todo.id %}">
          <div class="form-check">
            {% if todo.is_finished %}
            <input class="form-heck-lebel" type="checkbox" id="flexCheckDefault" checked>
            {% else %}
            <input class="form-heck-lebel" type="checkbox" id="flexCheckDefault">
            {% endif %}
            <label for="form-check-level">Mark as Completed</label>
          </div>
        </a>
      </td>
      <td><a href="{% url 'dalete_todo' todo.id%}">Delete</a></td>
     </tr>
     {% endfor %}
    </tbody>

  </table>
  {% else %}
  <h3>All TODOs are Completed</h3>
  {% endif %}
  <a href="{% url 'todo' %}">To Do</a>
  <br>
  <br>

  {% if not homeworks_done %}
  <h2>Due Homework</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Subject</th>
       
        <th>title</th>
        <th>Description</th>
        <th>Due</th>
        <th>Status</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for homework in homeworks %}
     <tr>
      <th scope="row"> {{forloop.counter}}</th>
      <th scope="row">{{homework.subject}}</th>
      <td>{{homework.title}}</td>
      <td>{{homework.description}}</td>
      <td>{{homework.due}}</td>
      <td>
        <a href="{% url 'update_homework' homework.id %}">
          <div class="form-check">
            {% if homework.is_finished %}
            <input class="form-heck-lebel" type="checkbox" id="flexCheckDefault" checked>
            {% else %}
            <input class="form-heck-lebel" type="checkbox" id="flexCheckDefault">
            {% endif %}
            <label for="form-check-level">Mark as Completed</label>

          </div>
        </a>
      </td>
      <td><a href="{% url 'delete_homework' homework.id %}">Delete</a></td>
     </tr>
     {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3>All Homeworks are Completed</h3>
  {% endif %}
  <a href="{% url 'homework'%}">Homeworks</a>
</section>
  
  {% endblock content %}