{% extends "home.html" %}
{% load static %}
{% block content %}

<div class="container">
  <form action="{% url 'login' %}" method>
    {% csrf_token %}
    <fieldset class = 'form-group'>
      <legend class='border-bottom'>
        Joined Today
      </legend>
      {{form}}
    </fieldset>
    <div class="form-group">
      <button href="" class="btn" type+"submit"> Sign Up</button>
    </div>
  </form>
  <div class="border-top"> <small class = "test-muted">Already have an Account <a href="{% url 'login' %}">Sign In</a></small></div>
</div>

{% endblock content %}